:root {
    --Negro: #000000;
    --Morado: #FF96F4;
    --Blanco: #FFFFFF;
    --Gris: #FDFDFD;
    --ColorIg: #E1306C;
    --ColorTiktok: #FF0050;
    --ColorFacebook: #4267B2;
}
*{
    color: var(--Negro);
    text-decoration: none;
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}
body{
    background-image:url(../img/img/FondoPro2.jpg) ;
    background-size: cover;
    background-position: center;
    font-family: "Lilita One", sans-serif;
}
.p{
    margin-top: 32px;
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: var(--Morado);
    margin-bottom: 10px; 
}
*{
    margin: 0%;
}
.Navegacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    background-color: var(--Morado);
}
.Navegacion a:hover{
    color: var(--Blanco);
}

.wrap{
    max-width: 1200px;
    margin: 0 auto;
}
.column-3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.menu-heladeria1{
    color:#000000;
    background-position: left;
}
.menu-heladeria2{
    color:#000000;
    background-position: right;
}

ul {
    list-style: none;
    padding: 0;
    width: 100%; 
    text-align: center; 
}

ul li {
    display: inline-block;
    padding: 0px 130px; 
}

a {
    color: var(--Negro);
    text-decoration: none;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}
.Logo {
    color: var(--Negro);
    height: 100px; 
    width: auto;
    margin-left: -20px; 
}

.gif img {
    margin-right: 20px; 
}
.sede h1{
    font-family:  "Lilita One", sans-serif;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin-top: 500px;
    margin-bottom: 10px; 
}
.fin {
    display: flex;
    align-items: center;
}

.fin svg {
    margin-right: 10px; 
}
